---
import ModernLayout from "../layouts/ModernLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import sqlInteractiveImg from "../assets/images/projects/sqlinteractivo.webp";
import entrevistasImg from "../assets/images/projects/entrevistastecnicas.webp";
import portfolioImg from "../assets/images/itemPreview.webp";
import placeholderImg from "../assets/images/post_img.webp";

const storeItems = (await getCollection("store")).sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<ModernLayout title="Proyectos" activeSection="projects">
  <!-- Sección: Proyectos Personales -->
  <div class="text-3xl w-full font-bold mb-5">Proyectos Personales</div>
  <HorizontalCard
    title="SQL Interactivo"
    img={sqlInteractiveImg}
    desc="Sitio web educativo para aprender y practicar consultas SQL con ejemplos interactivos. Ideal para preparar entrevistas técnicas."
    url="https://sqlinteractivo.desafiolatam.com/"
    target="_blank"
    badge="Educativo"
  />
  <div class="border-t border-gray-200 dark:border-gray-700 my-6"></div>
  <HorizontalCard
    title="Entrevistas Técnicas"
    img={entrevistasImg}
    desc="Plataforma para RRHH en Desafío Latam con preguntas y ejercicios comunes en entrevistas técnicas de desarrollo."
    url=""
    target="_self"
    badge="Intranet"
  />
  <div class="border-t border-gray-200 dark:border-gray-700 my-6"></div>
  <HorizontalCard
    title="Proyecto ABP - AWS"
    img={portfolioImg}
    desc="Marco teórico de Aprendizaje Basado en Problemas desarrollado durante el curso de AWS. Documentación de soluciones cloud escalables y arquitecturas distribuidas."
    url="https://github.com/jsuazof/Proyecto-ABP"
    target="_blank"
    badge="AWS"
  />
  <div class="border-t border-gray-200 dark:border-gray-700 my-6"></div>

</ModernLayout>
